<p style="color: green"><%= notice %></p>
<h1 class="title">Blogs</h1>
<br/><br/>
<% if author_signed_in? %>

  <% @posts.each do |post| %>
    <div class="row">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= link_to post.title, post %></h5>
          <p class="card-text"><%= post.short_description %></p>
        </div>
      </div>

    </div>
  <% end %>

  <br/><br/>

  <%= link_to "New Post", new_post_path, class: 'btn btn-primary' %>

<% else %>

  <h1>Hello World!</h1>
  <p>This is my first Rails Webpage</p>

<% end %>
